<div class="container" id="mypage">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#menu1" role="tab" aria-controls="menu1" aria-selected="false">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#menu2" role="tab" aria-controls="menu2" aria-selected="false">Following</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#menu3" role="tab" aria-controls="menu3" aria-selected="false">Follower</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div id="home" class="tab-pane fade show active">
      <br/><%= render 'form_home_contain' %>
    </div>
    <div id="menu1" class="tab-pane fade">
      <br/><%= render 'form_user_profile_view' %>
    </div>
    <div id="menu2" class="tab-pane fade">
      <br/><%= render 'form_following_contain' %>
    </div>
    <div id="menu3" class="tab-pane fade">
      <br/><%= render 'form_follower_contain' %>
    </div>
  </div>
</div>