<h1>Users#profile</h1>
<p>Find me in app/views/users/profile.html.erb</p>
<%=link_to "My Page", :controller => :users, :action => :user_my_page%>
<%=link_to "Profile Edit", edit_user_registration_path %>
