<!DOCTYPE html>
<html>
    <head>
        <!------ Include the above in your HEAD tag ---------->
    </head>
    <body>
        <div class="mypage">
            <a href="http://bootsnipp.com/mouse0270/snippets/4l0k2" class="btn btn-danger hide" id="back-to-bootsnipp">Back to Bootsnipp</a>
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                        <div class="panel panel-default">
                            <ul class="list-group" id="contact-list">
                                <% @followed_users.each  do |followed| %>
                                <li class="list-group-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <p hidden><%= @image=Image.where(user_id: followed.id).last%></p>
                                        <% if @image != nil %>
                                            <%= image_tag @image.file , :class =>"avatar img-circle",:alt =>"avatar",:width =>"100",:height =>"100"%>
                                        <%else%>
                                            <img src="https://previews.123rf.com/images/stalkerstudent/stalkerstudent1601/stalkerstudent160101173/50961996-user-icon-vector-flat-design-style-eps-10.jpg" class="avatar img-circle" alt="avatar" width="100" height="100">
                                         <%end%>
                                    </div>
                                    
                                    <!--<span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5842 Hillcrest Rd"></span>-->
                                    <!--<span class="visible-xs"> <span class="text-muted">5842 Hillcrest Rd</span><br/></span>-->
                                    <!--<span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(870) 288-4149"></span>-->
                                    <!--<span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br/></span>-->
                                    <!--<span class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="scott.stevens@example.com"></span>-->
                                    <!--<span class="visible-xs"> <span class="text-muted">scott.stevens@example.com</span><br/></span>-->
                                </div>
                                
                                <div class ="col-xs-12 col-sm-9">
                                <!--<#%follow = [current_user.id,followed.id]%>-->
                                <!--<#%= link_to 'Unfollow', follow, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                                <%= render 'follow_form',follower: followed %>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                             <% end%>
                        </ul>
                    </div>
            	</div>
        	</div>
    </body>
</html>
