<!DOCTYPE html>
<html>
<head>
    <style>
      .logoimg{
        height: 60px;
        right: 10px;
      }
      
      .search input[type=text] {
        padding-bottom: 9px;
      }
      #mySidenav a{
        width: 110px;
      }
    </style>
    <title>My page</title>
</head>

<body>
	<div class="mypagebg">
    <div id="mySidenav">
      <a class="active" id="green" data-toggle="tab" href="#home">Home</a>
      <a id="blue" data-toggle="tab" href="#about">About</a>
      <a id="red"  data-toggle="tab" href="#following">Following</a>
      <a id="black"  data-toggle="tab" href="#follower">Follower</a>
    </div>
     
      <div class="tab-content">
        <div id="home" class="tab-pane active">
          <br/><%= render 'form_home_contain' %>
        </div>
        
        <div id="about" class="tab-pane fade">
          <br/><%= render 'form_user_profile_view' %>
        </div>
        
        <div id="following" class="tab-pane fade">
          <br/><%= render 'form_following_contain' %>
        </div>
        
        <div id="follower" class="tab-pane fade">
           <br/><%= render 'form_follower_contain' %>
        </div>
      </div>
    </div>
</body>
</html>

  
 