<!DOCTYPE html>
<html>
<head>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
</head>

<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#e5e5e5;padding:5px;text-align:center;">
  
    <img src="http://kingtandoori.com/img/banner.jpg"  alt="Smiley face" height="200" width="1300">
</div>

<div class="topnav">
  <a class="active" href="#home">Home</a>
  <%=link_to "My Profile", edit_user_registration_path %>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<div style="overflow:auto">
  <div class="menu">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </div>

  <div class="main">
    <h2>Lorum Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>

  <div class="right">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  </div>
</div>
<!--<#link_to "My profile", :controller => :users, :action => :profile%>-->
<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© copyright vuhuykhoi</div>
</body>
</html>

  
 