/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
.search input[type=text] {
	position: fixed;
	top: 10px;
	left: 10px;
    width: 30px;
    box-sizing: border-box;
    border: 2px solid #ABB2B9;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-size: 35px 35px;
    background-position: 4px 4px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 25px;
    z-index: 999;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search input[type=text]:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search input[type=text]:focus {
    width: 300px;
    padding: 12px 20px 12px 45px;
}

.logoimg{
	position: fixed;
	top: 10px;
	right: 13px;
	height: 60px;
	border: 2px solid #ABB2B9;
	border-radius: 4px;
	z-index: 999;
	background-color: #efe4b0;
}
.logoimg:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#mySidenav a {
    position: fixed;
    right: -70px;
    transition: 0.3s;
    padding: 15px;
    width: 90px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px 0 0 5px;
    z-index: 999;
}

#mySidenav a:hover, #mySidenav a:active, #mySidenav a:focus  {
    right: 0;
}

#green {
    top: 80px;
    background-color: #4CAF50;
}

#blue {
    top: 140px;
    background-color: #2196F3;
}

#red {
    top: 200px;
    background-color: #f44336;
}

#black {
    top: 260px;
    background-color: #555
}



.user_infomation_text{
     font-size: 15px;
}
.font-brand{
		font-family: 'Sawarabi Mincho', sans-serif;
		font-weight: bold;
		font-size:40px !important
}

.container{
    padding: 15px;
}