#logo-img {
  height: 60px;
}
#navbarSupportedContent {
  ul:first-child {
    margin-right: 250px !important;
  }
}
#search-form {
  input, button {
    height: 35px;
    border-radius: 2px;
  }
  input {
    width: 250px;
    font-size: small;
  }
}
#nav-user-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.btn-outline-white {
  color: white;
  border: 1px solid white !important;
  background-color: transparent;
}
.navbar {
  box-shadow: 0 0.5px 3px grey;
  color: white;
} 