.loginbg{
	background-image: url("https://previews.123rf.com/images/somegirl/somegirl1706/somegirl170600027/80582757-assorted-asian-dinner-vietnamese-food-vietnamese-noodle-soup-pho-bo-pho-ga-spring-rolls-vegetable-sa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
}

/*login*/
.login-page {
  width: 500px;
  padding: 4% 0 0;
  margin-left: 10%;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.field{
    font-size: 18px;
}
.field input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 20px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 18px;
}

.actions input {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 22px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 10px;
}
.actions input:hover,.form button:active,.form button:focus {
  background: #43A047;
}

#error_explanation{
  width: 100% !important;
  border-radius: 5px;
}