.text-color {
    color: black!important
}
<<<<<<< HEAD

.checked {
    color: orange;
}
=======
.name {
    font-size: 1.4em;
    font-weight: 700;
}

.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}
>>>>>>> 8fe8a19e4d05befaa6113f6fb47d4c297b40b2a9
